.verticalLayout {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.horizontalLayout {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 1rem;
}

label span {
    display: inline-block;
    width: 4rem;
}

input {
    width: 7.5rem;
}

select {
    padding-right: 3rem;
}

.nameSelector {
    width: 10rem;
}
