.timer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 20rem;
}

.horizontalLayout {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.progressBar {
    height: 2rem;
}
